.hard-top {
  width: 100%;
  height: 100%;
  position: relative; //@todo: Mixin these rules? fullRelative()
}

.hard-top__top {
  top: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  position: absolute;
  height: $hard-top-width;
}

.hard-top__content {
  width: 100%;
  height: 100%;
  padding-top: $hard-top-width;
}

@mixin generate-hard-tops($post-class-name: null) {
  .hard-top--#{$post-class-name} {
    > .hard-top__top     { height: map-get($hard-top-sizes, $post-class-name); }
    > .hard-top__content { padding-top: map-get($hard-top-sizes, $post-class-name);  }
  }
};

@each $hard-name, $hard-size in $hard-top-sizes {
  @include generate-hard-tops($hard-name);
}

.hard-top--disable {
  .hard-top__top     { display: none!important; }
  .hard-top__content { padding-top: 0px!important; }
}