.hard-bottom {
  width: 100%;
  height: 100%;
  position: relative; //@todo: Mixin these rules? fullRelative()
}

.hard-bottom__bottom {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: $hard-bottom-width;
}

.hard-bottom__content {
  width: 100%;
  height: 100%;
  padding-bottom: $hard-bottom-width;
}

@mixin generate-hard-bottoms($post-class-name: null) {
  .hard-bottom--#{$post-class-name} {
    > .hard-bottom__bottom  { height: map-get($hard-bottom-sizes, $post-class-name); }
    > .hard-bottom__content { padding-bottom: map-get($hard-bottom-sizes, $post-class-name);  }
  }
};

@each $hard-name, $hard-size in $hard-bottom-sizes {
  @include generate-hard-bottoms($hard-name);
}