.vscroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.vscroll__content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}