.app-alert-container {
  left: 0;
  top: -25px;
  width: 100%;
  height: 25px;
  z-index: 9999999;
  position: absolute;
}

.app-alert {
  left: 0;
  top: 0px;
  width: 100%;
  height: 25px;
  padding: 0 10px;
  position: absolute;
  @include transition(top .25s ease);
}

.app-alert__inner {
    width: 100%;
    height: 25px;
    text-align: center;
    @include border-radius(0 0 5px 5px);

    p {
      color: white;
      font-size: 13px;
      line-height: 25px;
      font-weight: bold;
    }
  }

.app-alert--show {
  top: 25px;
}

.app-alert-pad {
  padding: 0 10px; //@hack
}

// Statuses
.app-alert--success .app-alert__inner { background: $background-success; }
.app-alert--warning .app-alert__inner { background: $background-warning; }
.app-alert--error .app-alert__inner   { background: $background-error; }

/*
 * Actions
 */
.app-alert__inner__action {
  float: left;
  width: 25px;
  height: 25px;
  display: block;
  color: white;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  @include transition(background .25s ease);

  i {

  }

  &:hover {
    background: trans-dark(.2);
  }
}

.app-alert__inner__action--last {
  @include border-radius(0 0 5px 0);
}