.app {
  width: 100%;
  height: 100%;
  position: relative;
  @include transition(background .25s ease);
}

.app__loading {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999999999; // lol
  background: $app-loading-background;
  @include transition(opacity .25s ease);
}

.app__loading--show {
  opacity: 1;
}

.app--dark  { background: $app-dark-background; }
.app--light { background: $app-light-background; }