.btn {
  border: 0;
  margin: 0;
  width: 100%;
  display: block;
  text-align: center;

  color: $button-color!important;
  cursor: pointer!important;
  font-size: $button-font-size;
  padding: $button-padding;
  background: $button-background;
  text-shadow: $button-text-shadow;
  text-transform: $button-text-transform;
  @include border-radius($button-border-radius);
  @include transition(background $button-transition-speed);
}

.btn:hover {
  color: $button-color!important;
  background: $button-hover-background;
}

@each $size-name, $size in $btn-square-sizes {
  .btn--square-#{$size-name} {
    padding: 0;
    width: $size;
    height: $size;
    line-height: $size;
  }
}

@each $bg-name, $bgs in $btn-backgrounds {
  .btn--#{$bg-name} {
    background: nth($bgs, 1);

    &:hover {
      background: nth($bgs, 2);
    }
  }
}