.btn {
  border: 0;
  margin: 0;
  width: 100%;
  display: block;
  text-align: center;

  cursor: pointer!important;
  font-size: $button-font-size;
  padding: $button-padding;
  text-shadow: $button-text-shadow;
  text-transform: $button-text-transform;
  @include border-radius($button-border-radius);
  @include transition(all $button-transition-speed);
}

/*
 * Square Sizes
 */
@each $size-name, $size in $btn-square-sizes {
  .btn--square-#{$size-name} {
    padding: 0;
    width: $size;
    height: $size;
    line-height: $size;
  }
}

/*
 * Backgrounds
 */
@each $bg-name, $bgs in $btn-backgrounds {
  .btn--#{$bg-name} {
    background: nth($bgs, 1);

    &:hover {
      background: nth($bgs, 2);
    }
  }
}

.btn--transparent {
  background: transparent;

  &:hover {
    background: transparent;
  }
}

.btn--error {
  color: white;
}

/*
 * Pill
 */
.btn--pill {
  @extend .truncate;
  padding: $btn-pill-padding;
  font-size: $btn-pill-font-size;
  text-align: $btn-pill-text-align;
  text-transform: $btn-pill-text-transform;
}

.btn--pill-has-count {
  position: relative;
  padding-right: 60px;
}

.btn--pill__count {
  top: 3px;
  right: 20px;
  width: 25px;
  height: 17px;
  display: block;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  position: absolute;
  @include border-radius(10px);
}

/*
 * Small Icon
 */
.btn--small-icon {
  padding: 0;
  width: 16px;
  height: 16px;
  text-align: center;
  @include border-radius(3px);

  i {
    font-size: 8px;
    line-height: 16px;
    font-weight: bold;
  }
}

/*
 * Hard Corners
 */
.btn--hard        { @include border-radius(0); }
.btn--hard-top    { @include border-radius(0 0 $button-border-radius $button-border-radius); }
.btn--hard-bottom { @include border-radius($button-border-radius $button-border-radius 0 0); }
.btn--hard-left   { @include border-radius($button-border-radius 0 0 $button-border-radius); }
.btn--hard-right  { @include border-radius(0 $button-border-radius $button-border-radius 0); }

/*
 * Mods
 */
.btn .profile-picture {
  @include border-radius($button-border-radius - 1px);
}