.btn {
  border: 0;
  margin: 0;
  width: 100%;
  display: block;
  text-align: center;

  color: $button-color!important;
  cursor: pointer!important;
  font-size: $button-font-size;
  padding: $button-padding;
  background: $button-background;
  text-shadow: $button-text-shadow;
  text-transform: $button-text-transform;
  @include border-radius($button-border-radius);
  @include transition(all $button-transition-speed);
}

.btn:hover {
  color: $button-color!important;
  background: $button-hover-background;
}

/*
 * Square Sizes
 */
@each $size-name, $size in $btn-square-sizes {
  .btn--square-#{$size-name} {
    padding: 0;
    width: $size;
    height: $size;
    line-height: $size;
  }
}

/*
 * Backgrounds
 */
@each $bg-name, $bgs in $btn-backgrounds {
  .btn--#{$bg-name} {
    background: nth($bgs, 1);

    &:hover {
      background: nth($bgs, 2);
    }
  }
}

/*
 * Pill
 */
.btn--pill {
  @extend .truncate;
  padding: $btn-pill-padding;
  font-size: $btn-pill-font-size;
  text-align: $btn-pill-text-align;
  color: $btn-pill-color!important;
  text-transform: $btn-pill-text-transform;
  background: $btn-pill-background!important;

  &:hover {
    color: $btn-pill-hover-color!important;
    background: $btn-pill-hover-background!important;
  }
}

.btn--pill.btn--active {
  color: $btn-pill-active-color!important;
  background: $btn-pill-active-background!important;
}

/*
 * Hard Corners
 */
.btn--hard        { @include border-radius(0); }
.btn--hard-top    { @include border-radius(0 0 $button-border-radius $button-border-radius); }
.btn--hard-bottom { @include border-radius($button-border-radius $button-border-radius 0 0); }
.btn--hard-left   { @include border-radius($button-border-radius 0 0 $button-border-radius); }
.btn--hard-right  { @include border-radius(0 $button-border-radius $button-border-radius 0); }