.view-bar {
  width: 100%;
  height: 100%;
  position: relative;
}

.view-bar__title {
  font-size: 14px;
  line-height: 40px;
  text-align: center;

}

.view-bar__back-link {
  top: 0;
  left: 0;
  width: 35px;
  height: 40px;
  color: map-get($dark-grey-scale, epsilon);
  text-align: right;
  position: absolute;


  &:hover {
    color: lighten(map-get($dark-grey-scale, epsilon), 10);
  }

  i {
    width: 35px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
  }
}
