.app-alert-container {
  left: 0;
  top: -25px;
  width: 100%;
  height: 25px;
  position: absolute;
}

.app-alert {
  left: 0;
  top: 0px;
  width: 100%;
  height: 25px;
  padding: 0 10px;
  position: absolute;
  @include transition(top .25s ease);
}

.app-alert__inner {
    width: 100%;
    height: 25px;
    padding: 0 10px;
    @include border-radius(0 0 3px 3px);

    p {
      color: white;
      font-size: 14px;
      line-height: 25px;
    }
  }

.app-alert--show {
  top: 25px;
}

// Statuses
.app-alert--success .app-alert__inner { background: #62B53C; }
.app-alert--warning .app-alert__inner { background: #FF9903; }
.app-alert--error .app-alert__inner   { background: #FC412F; }