/**
 * Backgrounds
 * Jan 2016 - Andrew Hathaway
 *
 * Background helpers
 */

@mixin generate-backgrounds($pre-class-name: null) {
  .#{$pre-class-name}bg--none   { background: transparent!important; }
  .#{$pre-class-name}bg--white  { background: white!important; }
  .#{$pre-class-name}bg--black  { background: black!important; }

  .#{$pre-class-name}bg--success { background: $background-success!important; }
  .#{$pre-class-name}bg--error   { background: $background-error!  important; }
  .#{$pre-class-name}bg--warning { background: $background-warning!important; }

  @each $name, $color in $backgrounds {
    .#{$pre-class-name}bg--#{$name} { background: $color!important; }
  }
}

/*
 * Generate defafult backgrounds
 */
@include generate-backgrounds();

/*
 * Generate backgrounds for any
 * breakpoints in the variables
 */
@each $breakpoint-name in $breakpoint-backgrounds {
  @include breakpoint($breakpoint-name) {
    @include generate-backgrounds(prefix-breakpoint-class($breakpoint-name));
  }
};

/*
 * Scales
 */
.app--dark {
  .bg--scale-alpha   { background: map-get($dark-grey-scale, alpha)!important; }
  .bg--scale-beta    { background: map-get($dark-grey-scale, beta)!important; }
  .bg--scale-gamma   { background: map-get($dark-grey-scale, gamma)!important; }
  .bg--scale-delta   { background: map-get($dark-grey-scale, delta)!important; }
  .bg--scale-epsilon { background: map-get($dark-grey-scale, epsilon)!important; }
  .bg--scale-zeta    { background: map-get($dark-grey-scale, zeta)!important; }
}

.app--light {
  .bg--scale-alpha   { background: map-get($light-grey-scale, alpha)!important; }
  .bg--scale-beta    { background: map-get($light-grey-scale, beta)!important; }
  .bg--scale-gamma   { background: map-get($light-grey-scale, gamma)!important; }
  .bg--scale-delta   { background: map-get($light-grey-scale, delta)!important; }
  .bg--scale-epsilon { background: map-get($light-grey-scale, epsilon)!important; }
  .bg--scale-zeta    { background: map-get($light-grey-scale, zeta)!important; }
}

.bg--scale-alpha,
.bg--scale-beta,
.bg--scale-gamma,
.bg--scale-delta,
.bg--scale-epsilon,
.bg--scale-zeta {
  @include transition(all .25s ease);
}