/**
 * Page Base
 * Jan 2016 - Andrew Hathaway
 *
 * Base page styles
 */

* { @include box-sizing(border-box); }

html, body {
  height: 100%;
  min-height: 100%;
}

body, input, textarea, button {
  color: $body-text-color;

  font: {
    size: $base-font-size;
    family: $base-body-font;
    weight: $body-font-weight;
  }

  -webkit-font-smoothing: antialiased;
}

body {
  min-width: $min-page-width;
  background: $body-background-color;
}

/*
 * Disable text selection across the app
 */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
input, button, textarea, :focus {
  outline: none; // You should add some other style for :focus to help UX/a11y
}

a:not([draggable=true]), img:not([draggable=true]) {
  -webkit-user-drag: none;
  user-drag: none; /* Technically not supported in Electron yet */
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
  -webkit-user-drag: auto;
  user-drag: auto; /* Technically not supported in Electron yet */
}