/**
 * Typography
 * Jan 2016 - Andrew Hathaway
 *
 * Typography base
 */

/*
 * Paragraphs
 */
p {
  line-height: $text-line-height;
}

/*
 * Anchors
 */
a {
  font-size: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

/*
 * Headings
 */
@include headings() {
  font-weight: $header-font-weight;
  line-height: $header-line-height;
}

h1 { font-size: get-font-size(alpha); }
h2 { font-size: get-font-size(beta); }
h3 { font-size: get-font-size(gamma); }
h4 { font-size: get-font-size(delta); }
h5 { font-size: get-font-size(epsilon); }
h6 { font-size: get-font-size(zeta); }

/*
 * Labels
 */
label {
  display: block;
  font: {
    size: $label-size;
    weight: $label-font-weight;
  };
  text-transform: $label-text-transform;
}