$dark-grey-scale: (
  alpha   : #0b0b0b,
  beta    : #141414,
  gamma   : #000,
  delta   : #232323,
  epsilon : #5e5e5e,
  zeta    : #767676
);

.app-bar {
  background: map-get($dark-grey-scale, beta);
}

.app-bar__account {
  background: map-get($dark-grey-scale, beta);
}

.app-bar__account:hover,
.app-bar__account--active {
  background: $brand-color-main;
}

.app-bar__lower {
  background: map-get($dark-grey-scale, beta);
}

.filter-controls {
  background: map-get($dark-grey-scale, alpha);
}

.view-bar {
  background: $view-bar-dark-background;
}