$dark-grey: #2A363F;
$text-color: #333; //#454545
$light-grey: #EFEEF3;
$button-bg: #C8C7CC;
$button-bg-hover: #AEACB4;

/*
 * Generic
 */
label { color: #666; }

/*
 * App Bar
 */
.app-bar {
  background: $dark-grey;
}

.app-bar__lower {
  background: $dark-grey;
}

.app-bar__lower .btn {
  color: $button-bg;
}

.app-bar__lower .btn:hover {
  color: white;
}

.app-bar__account {
  background: $dark-grey;
}

.app-bar__account:hover,
.app-bar__account--active {
  background: $brand-color-main;
}

/*
 * Filters
 */
.filter-controls {
  background: $light-grey;
}

.filter-controls .btn--pill {
  color: $text-color;

  &:hover {
    color: #5E5E5E;
  }
}

.filter-controls .btn--pill__count {
  color: $text-color;
  background: trans-dark(0.05);
}

.filter-controls .btn--pill.btn--active {
  color: white;
}

.filter-controls .btn--pill.btn--active {
  background: $brand-color-main;

  .btn--pill__count {
    color: white;
    font-weight: bold;
    background: trans-dark(0.1);
  }
}

/*
 * View Bars
 */
.view-bar {
  border-bottom: 1px solid #EEE;
}

.view-bar__title {
  color: $text-color;
}

.view-bar__back-link {
  color: $text-color;

  &:hover {
    color: $brand-color-main;
  }
}

/*
 * Notifications
 */
.notification {
  border-bottom: 1px solid #EEE;

  &:hover {
    background: #F3F3F3;
  }
}

.notification-icon,
.notification__text,
.notification__info {
  color: $text-color;
}

.notification-check {
  color: $text-color;

  &:hover {
    color: $brand-color-main;
  }
}

/*
 * Toggle
 */
.toggle {
  background: $button-bg;
}

.toggle__option {
  color: $text-color;
}

.toggle__option:hover {
  color: $text-color;
  background: $button-bg-hover;
}

.toggle__option--active,
.toggle__option--active:hover {
  color: white;
  background: $brand-color-main;
}

/*
 * Settings
 */
.settings-btn {
  color: $text-color;
  background: $button-bg;
}

.settings-btn:hover {
  background: $button-bg-hover;
}

.settings-btn.btn--active,
.settings-btn--major {
  color: white;
  background: $brand-color-main;
}

.settings-btn--major:hover {
  background: $dark-brand-color-main;
}

/*
 * Account Settings
 */
.account-settings-header {
  background: $light-grey;
}

.account-settings__name,
.account-settings__username {
  color: $text-color;
}

/*
 * Loader
 */
.loader {
  border-top-color: rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-left-color: $text-color;
}