/**
 * Variables
 * Jan 2016 - Andrew Hathaway
 *
 * Variables must have suitable names
 * and be separated via dashes.
 */

/**
 * Widths & Page
 */
 $min-page-width: 320px!default;

 /**
  * Colours
  */
$brand-color-main:      #0092B3;
$brand-color-secondary: #33D5AD;

$dark-brand-color-main: darken($brand-color-main, 5);

/*
 * Backgrounds
 */
$background-success: $brand-color-secondary;
$background-error: #d5335b;
$background-warning: #DEC23F;

$backgrounds: (
  brand-main : $brand-color-main,
  error      : $background-error
);

$app-dark-background: #232323;
$app-light-background: white;

/**
 * Text, Fonts etc
 */
$primary-font:      'Noto Sans', sans-serif!default;
$primary-icon-font: 'themify', sans-serif!default;
$base-body-font:    $primary-font!default;

$header-font-weight: normal!default;
$text-font-weight:   normal!default;
$body-font-weight:   normal!default;
$label-font-weight:  normal!default;

$text-line-height:   1.5em!default;
$header-line-height: 1.5em!default;

$label-text-transform: uppercase;

$font-sizes: (
  alpha   : 30px,
  beta    : 20px,
  gamma   : 18px,
  delta   : 16px,
  epsilon : 14px,
  zeta    : 12px
)!default;
$base-font-size: map-get($font-sizes, delta)!default;
$label-size:     map-get($font-sizes, epsilon)!default;

/**
 * Spacing values
 */
$base-soft-values: (
  alpha   : 40px,
  beta    : 30px,
  gamma   : 25px,
  delta   : 20px,
  epsilon : 15px,
  zeta    : 10px,
  iota    : 5px,
  kappa   : 2px
)!default;

$base-push-values: (
  alpha   : 40px,
  beta    : 30px,
  gamma   : 25px,
  delta   : 20px,
  epsilon : 15px,
  zeta    : 10px,
  iota    : 5px,
  omega   : 1px
)!default;

/**
 * Grid Setup
 *
 * More information regarding these
 * variables in objects/grid
 */
$grid-mobile-first:   true!default;
$grid-use-silent:     false!default;
$grid-use-markup-fix: false!default;
$grid-gutters:        (
  default  : 20px,
  zeta     : 5px
)!default;

/**
 * Breakpoint definitions and setup
 */
$mobile-max-breakpoint:  599px!default;
$tablet-min-breakpoint:  600px!default;
$tablet-max-breakpoint:  959px!default;
$desktop-min-breakpoint: 960px!default;
$max-min-breakpoint:     1200px!default;

$breakpoint-separator: '-'!default;

/**
 * Breakpoint generations
 */
$breakpoint-font-sizes: (
  alpha   : (),
  beta    : (),
  gamma   : (),
  delta   : (),
  epsilon : (),
  zeta    : ()
)!default;

$breakpoint-softs: (
  alpha   : (),
  beta    : (),
  gamma   : (),
  delta   : (),
  epsilon : (),
  zeta    : ()
)!default;

$breakpoint-pushes: (
  alpha   : (),
  beta    : (),
  gamma   : (),
  delta   : (),
  epsilon : (),
  zeta    : ()
)!default;

$breakpoint-push-autos:      ()!default;
$breakpoint-floats:          ()!default;
$breakpoint-displays:        (mobile)!default;
$breakpoint-positionings:    ()!default;
$breakpoint-backgrounds:     ()!default;
$breakpoint-overflows:       ()!default;
$breakpoint-text-aligns:     ()!default;
$breakpoint-text-colors:     ()!default;
$breakpoint-text-fonts:      ()!default;
$breakpoint-text-transforms: ()!default;
$breakpoint-text-weights:    ()!default;
$breakpoint-widths:          (mobile)!default;
$breakpoint-heights:         ()!default;
$breakpoint-borders:         ()!default;
$breakpoint-max-widths:      ()!default;
$breakpoint-min-heights:     ()!default;
$breakpoint-hards:           ()!default;
$breakpoint-line-heights:    ()!default;
$breakpoint-text-embossings: ()!default;

/**
 * Miscellaneous variables
 */
$default-border-radius: 3px!default;

/*
 * Hards
 */
$hard-left-width: 320px;
$hard-left-sizes: (
  alpha   : 20px,
  beta    : 150px,
  gamma   : 20px,
  delta   : 78px,
  epsilon : 40px,
  zeta    : 20px
)!default;

$hard-right-width: 320px;
$hard-right-sizes: (
  alpha   : 20px,
  beta    : 20px,
  gamma   : 50px,
  delta   : 20px,
  epsilon : 30px,
  zeta    : 20px
)!default;

$hard-top-width: 200px;
$hard-top-sizes: (
  alpha   : 20px,
  beta    : 20px,
  gamma   : 20px,
  delta   : 40px,
  epsilon : 36px,
  zeta    : 15px
)!default;

$hard-bottom-width: 200px;
$hard-bottom-sizes: (
  alpha   : 20px,
  beta    : 20px,
  gamma   : 20px,
  delta   : 68px,
  epsilon : 20px,
  zeta    : 20px
)!default;

/*
 * Highers
 */
$higher: 9999999;
$higher-sizes: (
  alpha   : 999999,
  beta    : 99999,
  gamma   : 9999,
  delta   : 999,
  epsilon : 99,
  zeta    : 9
);

/*
 * Btn
 */
$button-font-size: 13px!default;
$button-text-transform: none!default;
$button-text-shadow: none;
$button-padding: 8px 0px;
$button-border-radius: $default-border-radius;
$button-transition-speed: .25s;

$btn-square-sizes: (
  delta : 48px
);

$btn-backgrounds: (
  error : ($background-error, lighten($background-error, 10))
);

$btn-pill-font-size: 13px;
$btn-pill-text-align: left;
$btn-pill-text-transform: none;
$btn-pill-padding: 5px 10px 5px 20px;

/*
 * AppLoader Styles
 */
$app-loading-background: $brand-color-main;

/*
 * Loader
 */
$loader-sizes: (
  small  : 20px,
  medium : 50px,
  large  : 100px
);

/*
 * Tops
 */
$top-sizes: (
  alpha   : 9999px,
  beta    : 9999px,
  gamma   : 9999px,
  delta   : 9999px,
  epsilon : 9999px,
  zeta    : 60px,
  theta   : 50px,
  iota    : 40px,
  kappa   : 30px,
  lambda  : 20px,
  mu      : 2px,
  nu      : 1px,
  xi      : 0
);
$breakpoint-tops: ();

/*
 * Negative Tops
 */
$n-top-sizes: (
  alpha   : 9999px,
  beta    : 9999px,
  gamma   : 9999px,
  delta   : 9999px,
  epsilon : 9999px,
  zeta    : -60px,
  theta   : -50px,
  iota    : -40px,
  kappa   : -30px,
  lambda  : -20px,
  mu      : -2px,
  nu      : -1px,
  xi      : 0
);
$breakpoint-n-tops: ();

/*
 * Toggle
 */
$toggle-border-radius: $default-border-radius;

$toggle-option-font-size: 13px;
$toggle-option-font-weight: normal;
$toggle-option-padding: 8px 0;
$toggle-option-text-transform: none;